name: Matrix demo
on: push
jobs:
  build:
    continue-on-error: true
    strategy:
      matrix:
        node-version: [12, 14, 16]
        operating-system: [ubuntu-latest, windows-latest]
        include:
          - node-version: 18,
            operating-system: ubuntu-latest
        exclude:
          - node-version: 12,
            operating-system: windows-latest
    runs-on: ${{ matrix.operating-system }}
    defaults:
      run:
        working-directory: playground/01-react-test
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Build project
        run: npm run build
